

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.color-me{
   color:white;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
   display: block;
}

#divMode, #divSetting {
   width: 60px;
   float: left;
....
}

















